aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.4.0
apscheduler==3.11.0
attrs==25.3.0
backoff==2.2.1
beautifulsoup4==4.13.4
bs4==0.0.1
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
commonmark==0.9.1
croniter==6.0.0
discord-py-interactions==5.15.0
discord-typings==0.9.0
discord.py==2.5.2
distro==1.9.0
emoji==2.14.1
frozenlist==1.7.0
h11==0.16.0
httpcore==1.0.5
httpx==0.27.0
idna==3.10
jisho_api @ git+https://github.com/pedroallenrevez/jisho-api@b1d9ec09e999bb35b9903a1023cf8bc9c74107c1
multidict==6.6.3
openai==1.36.1
pillow==11.3.0
platformdirs==4.2.2
propcache==0.3.2
pydantic==1.10.22
pydantic_core==2.20.1
pygments==2.19.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.2
regex==2024.5.15
requests==2.32.4
rich==10.16.2
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
tiktoken==0.11.0
tomli==2.2.1
tqdm==4.66.4
typing_extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
yarl==1.20.1
